body {
    background:rgb(177, 197, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    flex-direction:column;
    padding:10px;
    margin:10px;
    padding: 20px 10;
    background:darkgoldenrod;
    border-radius: 5px;
    
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 2px solid brown;
    display: block;
    margin:auto;
}

.assignment img:hover {
    border: 2px dashed cornsilk;
}

h1 {
    color:rgba(220, 140, 20, 0.932);
    text-align:center;
}

h1:hover {
    color: crimson;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: burlywood;
}

a:hover {
    color: cornsilk;
}